{% extends "marketbrowser/base.html" %}
{% load humanize %}

{% block head %}
<title>Arbitrage</title>
{% endblock %}

{% block content %}

{% if result %}
<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th class="shrink">Item</th>
        <th class="shrink">Citadel Sell</th>
        <th class="shrink">Citadel Units</th>
        <th class="shrink">Forge Buy</th>
        <th class="shrink">Forge Units</th>
        <th class="shrink">Total Profit</th>
        <th class="shrink">Date Difference</th>
    </tr>
    </thead>
    <tbody>
    {% for type in result %}
    <tr>
        <td class="shrink">{{ type.typename }}</td>
        <td class="shrink">{{ type.citadelSell|floatformat:"2"|intcomma }}</td>
        <td class="shrink">{{ type.citadelUnits|intcomma }}</td>
        <td class="shrink">{{ type.forgeBuy|floatformat:"2"|intcomma }}</td>
        <td class="shrink">{{ type.forgeUnits|intcomma }}</td>
        <td class="shrink">{{ type.profit|floatformat:"2"|intcomma }}</td>
        <td class="shrink">{{ type.dateDiff }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}